services:
  database:
    image: mysql:8.0
    container_name: snoroc_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: snoroc
      MYSQL_USER: snoroc
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 5s
      retries: 5
      timeout: 5s

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3030:3030"
    environment:
      ENV: ${ENV:-dev}
      DB_HOST: ${DB_HOST:-database}
      DB_USER: ${DB_USER:-snoroc}
      DB_PASSWORD: ${DB_PASSWORD:-1234}
      DB_NAME: ${DB_NAME:-snoroc}
      BASE_URL: ${BASE_URL:-http://localhost:3030}
      FRONTEND_URL: ${FRONTEND_URL:-http://localhost:5173}
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: database
      PMA_USER: root
      PMA_PASSWORD: root

volumes:
  db_data:
