// code universel de la navBar du header

.header__nav {
    text-align: center;
    display: flex;

    &__link {
        font-family: $asap;
        color: $white;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            margin-top: 6px;
            background-color: $blue;
            transform: scaleX(0);
            transition: transform 0.25s;
            transform-origin: left;

        }

        &:hover::after,
        &.active::after {
            transform: scaleX(1);
        }
    }
}




// mobile 
@media screen and (max-width: 480px) {
    .header__nav {

        flex-direction: column;
        align-items: flex-start;
        font-size: $header-mobile-link;

        &__link--active {
            font-size: $header-mobile-link-onpage;

        }

        &__link {
            padding: 15px 20px 15px 20px;

        }
    }
}

// tablette
@media screen and (min-width: 481px) and (max-width: 768px) {
    .header__nav {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        height: 121px;
        padding: 35px 70px;
        font-size: $header-desktop-link;

        &__link {
            padding: 0 20px;

        }

        :nth-child(3) {
            margin-right: auto;
        }
    }
}

// ordinateur
@media screen and (min-width: 769px) {
    .header__nav {

        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
        height: 121px;
        padding: 35px 70px;
        font-size: $header-desktop-link;

        &__link {
            padding: 0 20px;

        }

        :nth-child(3) {
            margin-right: auto;
        }
    }
}