@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 1000px;
  background-color: #1E1E1E;
  color: #F1F1F6;
}

.header__nav {
  text-align: center;
  display: flex;
}
.header__nav__link {
  font-family: "Asap Condensed", sans-serif;
  color: #F1F1F6;
  text-decoration: none;
}
.header__nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 6px;
  background-color: #1B74E4;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.header__nav__link:hover::after, .header__nav__link.active::after {
  transform: scaleX(1);
}

@media screen and (max-width: 480px) {
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
  .header__nav__link--active {
    font-size: 24px;
  }
  .header__nav__link {
    padding: 15px 20px 15px 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 121px;
    padding: 35px 70px;
    font-size: 32px;
  }
  .header__nav__link {
    padding: 0 20px;
  }
  .header__nav :nth-child(3) {
    margin-right: auto;
  }
}
@media screen and (min-width: 769px) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    height: 121px;
    padding: 35px 70px;
    font-size: 32px;
  }
  .header__nav__link {
    padding: 0 20px;
  }
  .header__nav :nth-child(3) {
    margin-right: auto;
  }
}
.header {
  background-image: url(../asset/headerbg.jpg);
  height: 366px;
}
.header .header__nav__link__logo {
  position: absolute;
  top: 21px;
  right: 26px;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 380px) and (max-width: 480px) {
  .header {
    background-position: 49% -150px;
    background-repeat: no-repeat;
    background-size: 375%;
    box-shadow: inset 0px 0px 95px 120px #1E1E1E;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px #1E1E1E;
  }
  .header .header__nav__link__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 75px;
    width: 75px;
  }
}
@media screen and (min-width: 769px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px #1E1E1E;
  }
  .header .header__nav__link__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 118px;
    width: 117px;
  }
}
.actus {
  font-size: 30px;
  text-align: center;
}
.actus img {
  width: 324px;
  height: 147px;
}

.about img {
  width: 100%;
}

.footer {
  bottom: 0;
  text-align: center;
  height: 150px;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
